
body {
    background: #243317;
    font-family: Arial;
}
h1 {
    color: red;
}
/* 9GnC8K32TyBzDPiiX4WZ1cy1r3jwGptZHwUkUDBMGI2qR2bhK7ImSrWdVZrocaW593TFdThGzPi354lHVZ6pMPdtYpe7HUtdLGfW7esqa3Rk6BgndnH2v6zaWgEtU5SLXFkX4hZgGD75O9pNeSeTZozvYb7TjLXNbOqmwGTg2ODH1pzymWuaiMXKGyF9Jw4f1ejS0Y7C */
